.navlink-a {
width: 16px; height: 14px;
background: #e0e0e0;
box-shadow: 
  inset -1px -1px #808080,
  inset 1px 1px #ffffff;
border:1px solid #404040;
padding: 2px;
}

.profileimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.navli {
    margin: 0 10px;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}
body {
    background-color: #ffffff;
}
ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0;
}

button { 
background: #e0e0e0;
box-shadow: 
  inset -2px -2px #808080,
  inset 2px 2px #ffffff;
border:1px solid #404040;
padding: 2px;
}


.rot90 {
    rotate: 90;
}

/*
.profile-ring {
  width: 150px;
  height: 150px;
  
  border-radius: 50%;
  padding: 5px; 
  
  background:
    
    radial-gradient(
      white 60%, 
      transparent 60.5%
    ),
    conic-gradient(
      #4285F4 0deg,
      #4285F4 90deg,
      #34A853 90deg,
      #34A853 180deg,
      #FBBC05 180deg,
      #FBBC05 270deg,
      #EA4335 270deg,
      #EA4335 360deg
    );
}

.profile-ring img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
*/

.headerdiv { 
background: #e0e0e0;
box-shadow: 
  inset -2px -2px #808080,
  inset 2px 2px #ffffff;
border:1px solid #404040;
padding: 2px;
text-align: center;
}


.project {
background: #e0e0e0;
box-shadow: 
  inset -2px -2px #808080,
  inset 2px 2px #ffffff;
border:1px solid #404040;
padding: 10px;
margin-top: 15px;
display: inline-block;
}

.projectdiv {
  padding-top: 10px;
  padding-bottom: 10px;
}


.projectbtnlink {
width: 16px; height: 14px;
background: #e0e0e0;
box-shadow: 
  inset -2px -2px #808080,
  inset 2px 2px #ffffff;
border:1px solid #404040;
padding: 2px;
text-decoration: none;
}


body {
  font-family: "Times New Roman", Times, serif;
  font-optical-sizing: auto;
  font-weight: 400; /* You can change this to 100–900 */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.footerli {
  margin-top: 10px;

}


footer { 
background: #e0e0e0;
box-shadow: 
  inset -2px -2px #808080,
  inset 2px 2px #ffffff;
border:1px solid #404040;
padding: 2px;
text-align: center;
margin-top: 15px;
}

.projectimg {
  width: auto; height: 300px;
}